# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

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